REQ-ID:         JS01
Description:    The product shall support placing tickets in a holding status.
Type:           Functional
Rationale:      To prevent tickets from going back to general sale when the ticket is returned but before the daily run of the re-allocation process.
Originator:     Polly Gray (Domestic Ticket Sales)

REQ-ID:         JS02
Description:    The product shall record the reason for return.
Type:           Functional
Rationale:      To provide the source of analysis of the patterns, and flag potential fraud.
Originator:     Polly Gray (Domestic Ticket Sales)

REQ-ID:         RP01
Description:    The product will determine if a refund is due for the return ticket
Type:           Functional
Rationale:      A ticket may be return on the day of the event or after the event and would not be due a refund even if not used
Originator:     Polly Gray (Domestic Ticket Sales)

REQ-ID:         RP01
Description:    The product will calculate the total amount to be refunded
Type:           Functional
Rationale:      The price of the ticket may very    between events and a handling charge may be applied
Originator:     Polly Gray (Domestic Ticket Sales)

REQ-ID:         WH01
Description:    The system shall display the inventory of tickets purchased by a customer.
Type:           Functional
Rationale:      Provides the ability for the customer to review their inventory and initiate a return of the ticket if needed.
Originator:     Polly Gray (Domestic Ticket Sales)

REQ-ID:         MVR-FR02
Description:    The product shall check the event date of the ticket.
Type:           Functional
Rationale:      To insure that the ticket can still be reallocated to the waiting list.
Originator:     Polly Gray (Domestic Ticket Sales)

REQ-ID:         KayeJ02
Description:    The product shall verify the customer credentials
Type:           Functional 
Rationale:      To ensure only authentic customers access the system
Originator:     Polly Gray (Domestic ticket sales)

REQ-ID:         PS01
Description:    The product shall add the ticket to a list of returned tickets to be allocated.
Type:           Functional
Rationale:      To ensure the returned ticket is reallocated with the 24 hourly reallocation cycle.
Originator:     Polly Gray (Domestic ticket sales)

REQ-ID:         PS02
Description:    The product shall disconnect the booking from the customer.
Type:           Functional
Rationale:      To ensure the reservation is taken from the customer and made available for a new customer.
Originator:     Polly Gray (Domestic ticket sales)

REQ-ID:         CH01
Description:    The system should ensure the ticket has not been used.
Type:           Functional
Rationale:      To ensure that the ticket being returned has not already been used.
Originator:     Polly Gray (Domestic Ticket Sales)

REQ-ID:         PB1
Description:    The system shall allow the customer to input and submit their login credentials for verification.
Type:           Functional
Rationale:      Identity of a customer needs to be verified to help with further processing of a ticket return request.
Originator:     Polly Gray (Domestic Ticket Sales)

REQ-ID:         PB2
Description:    The system shall allow the customer to create a ticket return request.
Type:           Functional
Rationale:      Ticket returns need to be handled in a form of delayed requests to allow for fraud detection analysis on a daily basis.
Originator:     Polly Gray (Domestic Ticket Sales)

REQ-ID:         SM01
Description:    The system will provide a 'cancel by' date at the time of purchase of a ticket
Type:           Functional
Rationale:      This ensures customers are aware of the last day for cancelling tickets to get a refund 
Originator:     Polly Gray (Domestic Ticket Sales)

REQ-ID:         LCM01
Description:    The system shall provide interfaces for the review of ticket sales
Type:           Functional
Rationale:      The organisers want to be comfortable they understand the reasons for returns and detect any patterns that might be emerging to help protect the Games from fraud
Originator:     Polly Gray (Domestic ticket sales)

REQ-ID:         GD01
Description:    The system shall refund a returned ticket's payment back to the original payment method used.
Type:           Functional
Rationale:      To prevent fraudulent actions whereby a fraudster attempts to gain money from a lost or stolen ticket.
Originator:     Polly Gray (Domestic Ticket Sales)

REQ-ID:         GD02
Description:    The system shall provide means of reserving tickets without the need for payment.
Type:           Functional
Rationale:      To protect seats for sports officials from Commonwealth countries and their families.
Originator:     Thomas Shelby (Business Development)
