
REQ-ID:         PB1
Description: 	The system shall allow the customer to input and submit their login credentials for verification.
Type: 		    Functional
Rationale: 	    Identity of a customer needs to be verified to help with further processing of a ticket return request.
Originator: 	Polly Gray (Domestic Ticket Sales)

REQ-ID: 	    JC01
Description: 	The product shall display booked tickets by customer.
Type: 		    Functional
Rationale: 	    To allow the customer to view their currently booked tickets and to select which ones to return.
Originator: 	Polly Gray (Domestic Ticket Sales)

REQ-ID: 	    KayeJ01
Description:  	The product shall verify the event date on the ticket being returned
Type: 		    Functional
Rationale: 	    To ensure the returned ticket is still for a valid event date
Originator:  	Polly Gray (Domestic ticket sales)

REQ-ID: 	    JS02
Description: 	The product shall record the reason for return.
Type: 		    Functional
Rationale: 	    To provide the source of analysis of the patterns, and flag potential fraud.
Originator: 	Polly Gray (Domestic Ticket Sales)

REQ-ID: 	    AR01
Description: 	The product shall accept request that the ticket owner wants to return the purchased ticket.
Type: 		    Functional
Rationale: 	    To be able for customer to return tickets they can not use.
Originator:  	Polly Gray (Domestic Ticket Sales)

REQ-ID: 	    RP01
Description: 	The product will calculate the total amount to be refunded
Type: 		    Functional
Rationale: 	    The price of the ticket may very between events and a handling charge may be applied
Originator:     Polly Gray (Domestic Ticket Sales)

REQ-ID: 	    JC02
Description: 	The product shall request a refund from the existing payment system for a returned ticket.
Type: 		    Functional
Rationale: 	    To provide the customer with a refund for their returned ticket.
Originator: 	Polly Gray (Domestic Ticket Sales)

REQ-ID:		    MG002
Description: 	The system shall make return tickets available for purchase
Type:		    Functional
Rationale: 	    To ensure seats that become available are managed in a consistent manner
Originator: 	Polly Gray (Domestic Ticket Sales)

REQ-ID: 	    WH02
Description: 	The system shall have the ability to allocate returned tickets (from the pool of returned tickets) to customers in a waiting list in an 		intelligent manner.
Type: 		    Functional
Rationale: 	    There maybe 2 tickets available, but 3 are needed for the first customer in line for returned tickets. There needs to be a logical method to 			reallocate the tickets.
Originator: 	Polly Gray (Domestic Ticket Sales)

REQ-ID: 	    PS02
Description: 	The product shall disconnect the booking from the customer.
Type: 		    Functional
Rationale: 	    To ensure the reservation is taken from the customer and made available for a new customer.
Originator: 	Polly Gray (Domestic ticket sales)
